
$primary: rgb(162, 208, 168);
$white: #ffffff;
$dark-grey: #333333;

body, html {
  font-family: "Roboto", sans-serif;
  background: rgb(112, 201, 183);
  height: 100%;
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $dark-grey;
  }
}

// Extensions
%flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-ex {
  @extend %flex-row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-ex {
  @extend %flex-column
}


.navbar {
  @extend %flex-column;
  justify-content: space-between;
  min-height: 80px;
  font-weight: 200;
  font-size: 1.6em;
  padding: 0.1em;

  ul {
    @extend %flex-row;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
    list-style-type: none;

    a {
      margin-right: .75em;
      padding: .5em .75em;
    }

  }

  a {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $dark-grey;
    }
  }
}

.navbar-container {
  @extend %flex-column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.navbar-list-container {
  @extend %flex-row;
  justify-content: flex-end;
  padding: 5px 12px;
  align-items: center;
}

.navbar-header {
  font-size: 100px;
  color: $white;
}

.wrapper {
  @extend %flex-column;
  margin-top: 2%;
  align-content: center;
  justify-content: center;

  p {
    text-align: center;
  }
}

.boundingBox {
  display: flex;
  padding: 20px;
  margin: auto;
  background-color: $dark-grey;
  justify-content: center;
  align-content: center;
  border: none;

  .innerBox{
    background-color: black; /* Green */
    border: none;

    p {
      color: $white;
      font-size: 60px;
      padding: 0px 60px;
    }

    &:hover {
      color: $dark-grey;
    }
  }

  .songBox{
    background-color: black;
    border: none;

    p {
      color: $white;
      font-size: 25px;
      padding: 0px 60px;
    }

    &:hover {
      color: $dark-grey;
    }
  }

  .headerBox{
    background-color: black;
    border: none;

    p {
      color: $white;
      font-size: 40px;
      padding: 0px 50px;
    }

    &:hover {
      color: $dark-grey;
    }
  }

  .song {
    display: flex-row;
    font-size: 40px;
    padding-left: 10px;
    justify-content: center;
    vertical-align: middle;
    align-content: flex-start;

    img{
      padding-right: 10px;
    }
    p {
      text-align: left;
    }
  }

  .redoBox{
    background-color: #FF4081;
    border: none;
    padding: 3px;

    p {
      color: black;
      font-size: 20px;
      padding: 0px 10px;
    }

    &:hover {
      color: $dark-grey;
    }
  }
}
